@charset "utf-8";

/* Window and Body Styles */

html {
   background-color: #8c9380;
}

body {
    background-color: #fff8eb;
    font-family: 'Playfair Display', serif;
}

h1 {
    color: #63852b;
    font-weight: 500;
    font-size: 2em;
    padding: 25px;
}

h2 {
    color: #63852b;
    font-size: 1.5em;
    padding: 25px;
}

p {
    color: #63852b;
    margin-right: 25px;
    margin-left: 25px;
    line-height: 1.3;
}

blockquote {
    color: #63852b;
    margin-right: 25px;
    margin-left: 25px;
    font-style: italic;
}

/* Page Header Styles */

    body > header {
        background-color: #fff8eb;
    }

/* Horizontal Navigation List Styles */

nav.horizontal ul li {
   background-color:  #fff8eb;  
   font-size: 1em;
   padding: 10px 0;
   text-align: center;     
}

nav.horizontal ul.row a:link, nav.horizontal a:visited {
    color: #bc8034;
}

nav.horizontal ul.row a:hover, nav.horizontal a:active {
    color: #8c9380;
}

div.issuemenu {
    color: #bc8034;
 }

/* Home Styles */

ul#issue {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

/* Testimonials Styles */

ul#testimonial {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

/* FAQ Styles */

ol#faq {
    color: #63852b;
    font-weight: bold;
    padding-left: 25px;
    list-style-type: upper-roman;
    list-style-position: inside;
}

ol#faq a:link, a:visited {
    color: #63852b;
}

ol#faq a:hover, a:active {
    color: #bc8034;
}

/* Footer Styles */

footer {
    color: #bc8034;
    background-color: #fff8eb;
    font-size: 1em;
    padding: 10px 10px;
    text-align: center;
}